<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="../css/bootstrap.min.css">
        <link rel="stylesheet" href="../assets/css/bootstrap.min.css">
        <link rel="stylesheet" href="../assets/js/google-code-prettify/prettify.css">
        <link rel="stylesheet" href="../css/font-awesome-animation.min.css">
        <link rel="stylesheet" href="../assets/css/bootstrap.min.css">
        <link rel="stylesheet" href="../assets/css/font-awesome.min.css">
        <link rel="stylesheet" href="../assets/css/docs.css">
        <link rel="stylesheet" href="../assets/js/google-code-prettify/prettify.css">
        <link rel="stylesheet"  href="../css/custom-theme/jquery-ui-1.10.0.custom.css">
        <script src="../js/jquery-2.2.0.min.js"></script>
        <script src="../js/jquery-ui.min.js"></script>
        <script src="../js/ion.sound.js"></script>
        <script src="../js/bootstrap.min.js"></script>
        <script src="../js/script.js"></script>
        <script src="../js/timer.jquery.js"></script>
        <script src="../assets/js/jquery-ui-1.10.0.custom.min.js"></script>
        <style>
            #audio{-moz-box-shadow:0 0 5px 5px #888;-webkit-box-shadow:0 0 5px 5px#888;box-shadow:0 0 5px 5px #888}
            .ui-widget.success-dialog{font-family:Verdana,Arial,sans-serif;font-size: .8em}.ui-widget-content.success-dialog{background:#F9F9F9;border:1px solid #90d93f;color:#222}.ui-dialog.success-dialog{left:0;outline:0 none;padding:0 !important;position:absolute;top:0}.ui-dialog.success-dialog .ui-dialog-content{background:none repeat scroll 0 0 transparent;border:0 none;overflow:auto;position:relative;padding:0 !important;margin:0}.ui-dialog.success-dialog .ui-widget-header{background:#fafcfe;border:0;color:#fff;font-weight:normal}.ui-dialog.success-dialog .ui-dialog-titlebar{padding:0.1em .5em;position:relative;font-size:1em}
        </style>
    </head>
    <body>
        <div class="container" style="position : relative; margin-top : 13px;">
           <div class="col-md-4 col-md-offset-8" id="visitor-layout">
               <table class="table table-bordered table-condensed table-info" style="">  
                   <thead class="bg-primary">     
                       <tr><th>Visiteurs</th></tr>            
                   </thead>
                   <tbody  id="visitors">
                   </tbody>
               </table>
           </div>
           <div class="row" id="iframes" style="bottom:0;"> 
              <div class="col-md-9" id="media">
                <div id="menu" style="display : none; " class= "pull-right">
                    <button class="btn btn-danger" id="hangup" style="width : 50px; height : 50px; border-radius : 50px;">
                        <span class="fa fa-phone" aria-hidden="true" style="font-size : 15px;"></span>
                    </button>
                    <button class="btn btn-success" id="accept" style="width : 50px; height : 50px; border-radius : 50px;" disabled="true">
                        <span class="fa fa-phone" aria-hidden="true" style="font-size : 15px;"></span>
                    </button>
                </div>
                <div id="menuScreenSharing" style="display : none;">
                  <input type="button"  id="hangupScreenSharing" class="btn btn-danger" value="Arrêter le partage"/>
                </div>
                <div id="remote" style="width:100%;" title="Remote video"></div>
                <div id="mini"></div>
                <div id="audio" style="display: none; height:50px; width : 250px; margin-left : 10px; margin-right : 10px;" class="col-xs-4 bg-info fa-border">
                           <div id="timer"></div>
                           <i class="fa fa-spinner fa-pulse fa-3x fa-fw margin-bottom" style="margin-left : 60px;" id="call-going"></i>
                </div>
            </div>
           </div>        
        </div>
        <script type="text/javascript">
             'use strict';
            var session = null,
                imClient = null,
                listId = null,
                date  = '',
                utc = '', utc_r, 
                lastDest = [],
                destVisitorId =0,
                lastUsers = [],
                webRTCClient = null,
                incomingCallId =0,
                callerId=0,
                callType="";
                /*Création d'une fenêtre de discusion intantanée*/
                function startIM(destId){
                if($.inArray(destId, lastDest)==-1){
                    lastDest.push(destId); 
                    $('#iframes').append('<iframe src="views/plugin-front-1.html" class="col-md-4 pull-right" scrolling="no"></iframe>');
                    $('#iframes').children().last().attr("id", destId);
                    $('#'+destId).css({'src' : 'views/plugin-front-1.html'});
                    $('#'+destId).css({'height' : '410px', 'width ': '310', 'position ': 'absolute', 'right': '0px','bottom': '0',
                                      'overflow': 'hidden', 'border' : 'none'});
                    $('#'+destId).load(function(){  
                        $('#'+destId).contents().find('[id="text-input"]').keyup( function(e){
                            if(e.keyCode ==13){
                                var message = $('#'+destId).contents().find('[id="text-input"]').val();
                                 $('#'+destId).contents().find('[id="text-input"]').val('');
                                sendIMMessage(destId, message);
                            }
                        });
                    });
                }
            }
            /*Envoi d'un message instantané*/
            function sendIMMessage(destId, message){
                 if(message.trim() != ""){
                     imClient.sendMessage(destId, message);
                     if(message != '$Ack_Accept'){
                     $('#'+destId).contents().find('[id="chat-messages"]').append('<li class="bubbledLeft">'+message+'</li>');
                     $('#'+destId).contents().find('[id="chat-messages"]').append('<li class="textLeft" style="float : right; font-size : 10px; list-style : none; display : none;">'+getHeure(new Date())+'</li>');
                     $('#'+destId).contents().find('[id="chat-messages"]').
                     animate({scrollTop: $('#'+destId).contents().find('[id="chat-messages"]')[0].scrollHeight},2000);
                     }
                 }
                lastUsers.push(destId); 
            }
            /*Evénement se déclanchant à la réception d'un message*/
            function receiveIMMessageHandler(e){
                startIM(e.detail.senderId); 
                $('#'+e.detail.senderId).load(function(){
                    if( $('#'+e.detail.senderId).contents().find('[id="chat-plus-back"]').css('display') == 'none')
                        $('#'+e.detail.senderId).contents().find('[id="chat-plus-back"]').css({'display': 'block'});    
                    if( $('#'+e.detail.senderId).contents().find('[id="foot-back"]').css('display') =='block' )
                        $('#'+e.detail.senderId).contents().find('[id="foot-back"]').css({'display' : 'none'});      
                });       
                var element = '<li class="bubbledRight" >'+e.detail.message+'</li>'+                        
                    '<span class="textRight" style="float : left; font-size : 10px; list-style : none; display : none;">'+
                    getHeure(e.detail.time)+'</span>';
                if (e.detail.message !='null' && e.detail.message !='$Ack_Accept'){ 
                    $('#'+e.detail.senderId).contents().find('[id="tipping-notif"]').css({'visibility' : 'hidden'});
                    $('#'+e.detail.senderId).contents().find('[id="chat-messages"]').append(element);
                    ion.sound.play("facebook");
                    $('#'+e.detail.senderId).contents().find('[id="chat-icon"]').css({'display': 'block'});
                    $('#'+e.detail.senderId).contents().find('[id="chat-messages"]').
                    animate({scrollTop: $('#'+e.detail.senderId).contents().find('[id="chat-messages"]')[0].scrollHeight},2000); 
                    $('#'+e.detail.senderId).contents().find('[id="chat"]').css({'visibility' : 'visible'});
                }else if( e.detail.message == '$Ack_Accept'){
                    ion.sound.stop('skype');
                    $('#call-going').css({'display' : 'none'});
                    $('#timer').timer();
                } 
            }
            /*Récéption des visiteurs coonnectés au site*/
            function receiveInfo(e){
                date =  e.detail.time.getDate()+"/"+(e.detail.time.getMonth()+1)+"/"+e.detail.time.getFullYear();
                $('#date').css({'display' : 'block'});
                $('#date').html(date);
                listId = e.detail.connectedUsersListWithStatus;
                for(var i=0; i<listId.length; i++){                     
                    if( apiCC.session.apiCCId != listId[i].userId && listId[i].group !='undefined' && listId[i].userId !='undefined'){
                        if ($.inArray(listId[i].userId, lastUsers)== -1){
                            lastUsers.push(listId[i].userId);
                            var el = angular.element(document.querySelector('#visitors'));
                            el.append('<tr class="table-danger"><td class="btn btn-success visitor">'+listId[i].userId+'</td></tr>');
                             alert('Un nouveau visiteur connecté identifiant = '+listId[i].userId);
                        }
                     }
                 }
             }
            /*Formattage de l'heure*/
             function getHeure(date){
                 var heures = ("0" +date.getHours()).slice('-2');
                 var minutes = ("0" +date.getMinutes()).slice('-2');
                 return (heures+ ":"+minutes);
             }
            /*Ajout d'un stream dansun div*/
            function addStreamInDiv(stream, callType, divId, mediaEltId, style, muted) {
                var mediaElt = null,
                    divElement = null;
                if (callType === 'audio') {
                    mediaElt = document.createElement("audio");
                } else {
                    mediaElt = document.createElement("video");
                }
                mediaElt.id = mediaEltId;
                mediaElt.autoplay = true;
                mediaElt.muted = muted;
                mediaElt.style.width = style.width;
                mediaElt.style.height = style.height;
                divElement = document.getElementById(divId);
                divElement.appendChild(mediaElt);
                webRTCClient.attachMediaStream(mediaElt, stream);
            }
            /*Suppession d'un élement d'un div*/
            function removeElementFromDiv(divId, eltId) {
                var element = null,
                    divElement = null;
                element = document.getElementById(eltId);
                if (element !== null) {
                    divElement = document.getElementById(divId);
                    divElement.removeChild(element);
                }
            }
            /*Suppression d'un média lors d'un événement hangup*/
            function initMediaElementState(callId) {
                webRTCClient.removeElementFromDiv('mini', 'miniElt-' + callId);
                webRTCClient.removeElementFromDiv('remote', 'remoteElt-' + callId);        
            }
            function addHangupButton(callId) {
                var hangupButtons = document.getElementById("hangupButtons"),
                    input = document.createElement("input");
                input.setAttribute("id", "hangup-" + callId);
                input.setAttribute("value", "hangup-" + callId);
                input.setAttribute("type", "button");
                input.setAttribute("onclick", "webRTCClient.hangUp(" + callId + " );");
            }
            function removeHangupButton(callId) {
                var hangupButtonId = 'hangup-' + callId,
                    hangupButton = document.getElementById(hangupButtonId),
                    hangupButtons = null;
                if (hangupButton !== null) {
                    console.log('Removing hangUpButton with Id : ' + hangupButtonId);
                    hangupButtons = document.getElementById("hangupButtons");
                    hangupButtons.removeChild(hangupButton);
                }
            }
            /*Evénement qui se déclanche après établissement de l'appel . 
            Ici on arrête la sonnerie en local */
            function callEstablishedHandler(e){
                 ion.sound.stop('skype');
            }
            function userMediaErrorHandler(e) {
                //Réactivation du bouton hangup après erreur 
                $("#hangup").attr("disabled", false);
            }
            /*Evénement qui se déclanche lorsque  l'autre pair raccroche l'appel en cours*/
            function hangupHandler(e) {
                initMediaElementState(e.detail.callId);
                removeHangupButton(e.detail.callId);
                $('#media').dialog('close');
                $('#menu').css({'display' : 'none'});
                $('#menuScreenSharing').css({'display' : 'none'});
                $('#audio').css({'display': 'none'});
                ion.sound.stop('iphone');
                ion.sound.play('hangup');
                 $('#timer').timer('remove');
            }
            /*Evénement qui se déclanche à la réception d'un appel*/
            function incomingCallHandler(e) {
                $('#media').dialog('open');
                addHangupButton(e.detail.callId);
                incomingCallId = e.detail.callId;
                callerId = e.detail.callerId;
                if(e.detail.callType == 'media' ){
                    $("#hangup").attr("disabled", true);
                    $('#menu').show('explode');
                    $("#accept").attr("disabled", false);
                    ion.sound.play("iphone");      
                }
                if(e.detail.callType == 'audio'){
                    callType = e.detail.callType;
                    $("#hangup").attr("disabled", true);
                    $('#menu').show('explode');
                    $("#accept").attr("disabled", false);
                    ion.sound.play("iphone"); 
                    $('#audio').css({'display': 'block'});
                 }
                 if(e.detail.callType == 'screenSharing'){
                     $('#menuScreenSharing').show('explode');
                 }
            }
             function userMediaSuccessHandler(e) {
                //Ajout de la vidéo local dans un div
                 //Fonctionnalité supprimée
                webRTCClient.addStreamInDiv(e.detail.stream, e.detail.callType, "mini", 'miniElt-' + e.detail.callId,
                               {width : "128px", height : "96px"}, true);
            }
            function remoteStreamAddedHandler(e) {
                //Ajout de la vidéo distante dans un div.
                    webRTCClient.addStreamInDiv(e.detail.stream, e.detail.callType, "remote", 'remoteElt-' + e.detail.callId,
                                                {width : "640px", height : "480px"}, false);
            }
            function desktopCaptureHandler(e) {
                    console.log("e.detail.event :" + e.detail.event);
            }
            /*Focntion d'initialisation du client apiRTC*/
            function sessionReadyHandler(e){
                apiRTC.addEventListener("updatePresence", receiveInfo);
                apiRTC.addEventListener("receiveIMMessage", receiveIMMessageHandler);
                //Suppression de la mini vidéo local
                //apiRTC.addEventListener("userMediaSuccess", userMediaSuccessHandler);
                apiRTC.addEventListener("incomingCall", incomingCallHandler);
                apiRTC.addEventListener("userMediaError", userMediaErrorHandler);
                apiRTC.addEventListener("hangup", hangupHandler);
                apiRTC.addEventListener("remoteStreamAdded", remoteStreamAddedHandler);
                apiRTC.addEventListener("desktopCapture", desktopCaptureHandler);
                
                imClient = apiCC.session.createIMClient();
                webRTCClient = apiRTC.session.createWebRTCClient({});
                //Activation de call multiples
                webRTCClient.setAllowMultipleCalls(true);
                //Limitation de la bande passante
                webRTCClient.setVideoBandwidth(300);
                //Accept-Refuse
                webRTCClient.setUserAcceptOnIncomingCall(true);
                //Activation de la focntionnalité de partage d'écran
                webRTCClient.activateScreenSharing();
                //Traîtement de l'événement sur click sur le bouton hangup
                $("#hangup").click(function () {
                    webRTCClient.hangUp();
                    ion.sound.stop("iphone"); 
                    ion.sound.stop('skype');
                    $('#menu').css({'display' : 'none'});
                    $('#timer').timer('remove');
                    $('#audio').css({'display': 'none'});
                    jQuery('#media').dialog('close');
                });
                //Traîtement de l'événement sur click sur  le bouton de hangupScreenSharing (arrêt du partage)
                $("#hangupScreenSharing").click(function () {
                    webRTCClient.hangUp();
                    ion.sound.stop("iphone"); 
                    $('#menuScreenSharing').css({'display' : 'none'});
                    ion.sound.stop("skype");
                });
                //Traîtement de l'événement sur click sur le bouton accept
                $("#accept").click(function () {
                    webRTCClient.acceptCall(incomingCallId);
                    $("#accept").attr("disabled", true);
                    $("#refuse").attr("disabled", true);
                    $("#hangup").attr("disabled", false); 
                    ion.sound.stop("iphone");
                    ion.sound.stop("skype");
                    sendIMMessage(callerId, '$Ack_Accept');
                    if( callType == 'audio'){
                        $('audio').attr('muted', false);
                        $('#timer').timer();
                        $('#call-going').css({'display': 'none'});
                    }
                });
                $(document).on('click', '.visitor', function(e){
                    var el = e.target;
                    var id = el.innerHTML;
                    destVisitorId =  id;
                    startIM(el.innerHTML);  
                    $('#'+id).load( function(){
                         $('#'+id).contents().find('[id="contact"]').html('<i class="fa fa-circle" aria-hidden="true" style ="color : green; font-size:12px;"><em> en ligne</em></i>');
                         $('#'+id).contents().find('[id="visitorId"]').html('<td class="btn btn-success">'+id+'</td>');
                         $('#'+id).contents().find('[id="date"]').css({'display' : 'block'});
                         $('#'+id).contents().find('[id="date"]').html(date);
                         $('#'+id).contents().find('[id="video-call"]').on('click', function(){
                             $('#media').dialog('open');
                             $("#hangup").attr("disabled", false);
                             var callId = webRTCClient.call(id);
                             if (callId != null) {
                                 addHangupButton(callId);
                             }
                             $('#menu').show('explode');
                             ion.sound.play('skype');
                         });
                        $('#'+id).contents().find('[id="audio-call"]').click(function(){
                            $('#media').dialog('open');
                            var callId = webRTCClient.callAudio(id);
                            if (callId != null) {
                                 addHangupButton(callId);
                            }
                            $('#menu').show('explode'); 
                            $('#audio').css({'display' : 'block'});
                            ion.sound.play('skype');
                         });
                        $('#'+id).contents().find('[id="screenSharing"]').click( function(){
                            $('#menuScreenSharing').show('explode');
                             var callId = webRTCClient.shareScreen(id);
                             if (callId != null) {
                                 addHangupButton(callId);
                             }
                        });
                         $('#'+id).contents().find('[id="remove"]').click( function(){
                             var index = lastDest.indexOf(id);
                             lastDest.splice(index,1);
                             $('#'+id).remove();
                         })
                         $('#'+id).contents().find('[id="chat-messages"]').mouseenter(function(){
                             $('#'+id).contents().find('[class="textLeft"]').show('Scale');
                             $('#'+id).contents().find('[class="textRight"]').show('Scale');
                         });
                         $('#'+id).contents().find('[id="chat-messages"]').mouseleave(function(){
                             $('#'+id).contents().find('[class="textLeft"]').hide('Scale');
                             $('#'+id).contents().find('[class="textRight"]').hide('Scale');
                         })
                     });
            })};
             apiRTC.init({
                 apiKey :'badedb11c75abb4a254d0f268452bf48',
                 presenceGroup : 'A',
                 subscribeToPresenceGroup  : 'V',
                 nickname : 'Agent Fatima', 
                 onReady : sessionReadyHandler,
             });
              $(document).ready(function(){                        
                  $('#media').dialog({
                      autoOpen: false,
                      modal: false,
                      width: 640,
                      title : 'Atos Business Communication',
                      height: 640,
                      resizable : false,
                      draggable : true,
                      show: {effect : 'blind',  duration: 1000},
                      hide: 'fold',
                      width:'auto',
                      height: 'auto',
                      dialogClass: 'no-close success-dialog',
                      open: function(){
                          $('#media').bind('click',function(){
                              $('#media').close();
                          })
                      }
                  }); 
                   $(".ui-dialog-titlebar").append("<img src='../images/atos.jpg' style = 'height:30px; width : 50px;'/>");
                   ion.sound({
                       sounds: [
                           {name: "beer_can_opening"},
                           {name: "bell_ring"},
                           {name : "facebook"},
                           {name : "iphone" , loop : 4},
                           {name : 'hangup'},
                           {name : 'skype', loop : 10}
                       ],
                       path: "../sounds/",
                       preload: true,
                       volume: 1.0
                   }); 
             });
        </script>
            